:root {
  --text: #322623;
  --err: #7b505c;
  --ascent: #9b9880;
  --bg: #e4d6cf;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#root {
  position: relative;
  background: var(--bg);
  overflow: hidden;
}
canvas,
#menu {
  width: 100%;
  height: 100%;
}

#menu {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#menu.out {
  transform: translate(0, 200%);
  transition: transform 1s cubic-bezier(1, 1.2, 0, 1);
}
#menu.in {
  transition: transform 1s cubic-bezier(1, 1.2, 0, 1);
}
span,
button,
input {
  width: 80%;
}
#desc,
input,
button {
  margin-top: 20px;
}
button {
  height: 30px;
  border-radius: 5px;
  border-color: var(--text);
}
#loginout {
  margin-top: 40%;
}
#arrowGroup {
  /* Center the content */
  position: absolute;
  align-items: center;
  display: flex;
  width: 80%;
  margin-top: 20%;
  justify-content: space-between;
}
#arrowGroup > button {
  width: 30px;
}
#spaceDesc {
  text-align: center;
}

#spaceDesc.hide {
  display: none;
}
